<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
<div class="container-fluid d-inline-block position-relative">
  <img src="https://www.agrodolce.it/app/uploads/2019/06/shutterstock-655358575-980x400.jpg" class="img-fluid mx-auto d-inline-block" alt="forno con pizza" width="100%"> <span class="text-white fs-1 position-absolute top-50 start-50 translate-middle" style="text-shadow: 5px 5px 7px black;"><em>L'arte della pizza.</em></span>
</div>
