<div class="position-relative">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="7000">
      <img src="~/img/impasto-pizza-professionale.jpg" class="d-block w-100" alt="Impasto">
    </div>
    <div class="carousel-item" data-bs-interval="7000">
      <img src="~/img/basilico-su-pizza.jpg" class="d-block w-100" alt="Preparazione pizza">
    </div>
    <div class="carousel-item" data-bs-interval="7000">
      <img src="~/img/pizza-forno-legna.jpg" class="d-block w-100" alt="Infornare">
    </div>
  </div>
  <span class="text-white fs-1 position-absolute top-50 start-50 translate-middle" style="text-shadow: 5px 5px 7px black;"><em>Tutta un' altra pizza.</em></span>
</div>
</div>